body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: var(--FFFFFF, #FFF);
    gap: 33px;
}
.container {
    background: var(--GRAY, #F0F0F0);
    padding: 50px;
    border-radius: 29px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 646px; /* Largeur totale des deux boutons (308px * 2 + 33px gap) */
    box-sizing: content-box;
}
h1 {
    color: var(--DARK, #1E1E21);
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 54px */
}
p {
    color: var(--DARKGRAY, #48484A);
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 45px */
    margin: 5px 0; /* Réduit la marge verticale */
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 33px;
    margin-top: 20px;
}
.button {
    display: flex;
    width: 308px;
    height: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 28px;
    background: var(--BLEU, #4C2FB4);
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
}